@{
    ViewData["Title"] = "Area A";
}

<div class="area-detail-page">
    <div class="area-detail-header">
        <div>
            <h1>Area A</h1>
        </div>
    </div>

    <div class="parking-map">
        <div class="parking-map__spots">
            @for (int i = 1; i <= 10; i++)
            {
                <div class="parking-space">A@(i)</div>
            }
        </div>
    </div>
</div>
